<ion-view name="login-view">
  <ion-content class="padding">
    <h1>Login</h1>
    <div class="card" ng-show="message">
      <div class="item item-text-wrap energized">{{message}}</div>
    </div>
    <form name="loginForm" ng-submit="login()" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">E-Mail</span>
          <input type="text" ng-model="credentials.email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="credentials.password" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="loginForm.$invalid">Anmelden</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
