<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Volk anlegen</h1>
    <div class="buttons">
      <button class="button icon ion-close" ng-click="closeModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="registerForm" ng-submit="register()" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Standort</span>
          <input type="text" ng-model="newHive.site_name" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Stocknummer</span>
          <input type="text" ng-model="newHive.hive_name" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="registerForm.$invalid">Speichern</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
